<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <!-- 配置调度程序quartz ，其中配置JobDetail有两种方式-->
    <!--方式一：使用JobDetailBean，任务类必须实现Job接口 -->
    <bean id="jobDetailForDcsSendData" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="taskForDcsSendData" />
        <property name="targetMethod" value="updateSendDcsData" />

    </bean>

    <!-- Run the job every 2 seconds with initial delay of 1 second -->
    <bean id="dcsSendDataTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetailForDcsSendData" />
        <property name="startDelay" value="5000" />
        <property name="repeatInterval" value="5000" />
    </bean>



</beans>